@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body { 
  font-family: monospace;
  margin: 0; 
  font-size: 1.3rem;
  font-weight: normal;
  background-color: #000;
}

canvas { 
  display: block; 
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
}

p {
  overflow: scroll;
}

.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:hover {
  cursor: pointer;
}

.icon-float{
	margin-top:18px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-modal-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#webgl-error-message {
  text-align: center;
  background: #fff;
  color: #000;
  padding: 1.5em;
  width: 400px;
  margin: 5em auto 0;
}

#startButton{
  font-family: inherit;
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100000 !important;
}

#startButton:hover {
  background-color: white;
  color: black;
}

#start{
  position: absolute;
  /* top: 50%; */
  left: 50%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100000 !important;
  width: 100%;  
  height: 100%;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  /* position: absolute; */
  top: 35%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100000 !important;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom:0.5px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: rgba(0, 0, 0, 0.5);
  transition: border-color 0.2s;

}

.form__field::placeholder {
  color: transparent;
  padding-left: 1.2em;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 0.9rem;
  cursor: text;
  top: 50%;
  padding-left: 0.5rem;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}
/* 
.form__field:focus {

  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, black,gray);
  border-image-slice: 1;
}

.form__field:focus .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
  font-weight:700;    
} */
/* reset input */
.form__field:required,.form__field:invalid { box-shadow:none; }
